$green: rgba(7, 179, 7, 0.9);
$red: rgba(179, 7, 7, 0.9);
$white: #fff;
$black: rgb(27, 27, 27);
$box_shadow: 1px 1px 3px rgba(#000000, 0.31);
$p-lg: 20px;
$m-lg: 20px;
$py-lg: 20px 0;
$my-lg: 20px 0;
$primary: #5550bd;
