@import "../../../styles/variable";
.card {
  box-shadow: $box_shadow;
  margin: 5px 7px;
  padding: 10px;
  flex: 1;
  color: #fee;
  border-radius: 5px;
  width: 100%;
  min-width: 250px;
  &:hover {
    opacity: 0.91;
    background: white;
  }
  cursor: pointer;
  &.loss {
    background: $red;
    &:hover {
      opacity: 0.91;
      background: white;
      color: black;
      .card__icon {
        color: $red !important;
      }
    }
  }
  &.profit {
    background: $green;
    &:hover {
      opacity: 0.91;
      background: $white;
      color: $black;
      .card__icon {
        color: $green !important;
      }
    }
  }
  &__title {
    font-size: 20px;
    color: inherit;
    text-transform: capitalize;
  }
  &__money {
    display: flex;
    align-items: center;

    padding: 5px 0;
    &__amount {
      font-size: 30px;
      font-weight: 700;
    }
    &__return {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }
  &__icon {
    font-size: 17px !important;
    margin-left: 5px;
  }
  &__sub {
    font-size: 15px;
  }
}
