@import "../../../styles/variable";
.lg-widget {
  flex: 4;
  box-shadow: $box_shadow;
  width: 100%;
  padding: 20px 10px;
  margin: 20px 0;
  overflow-y: scroll;
  border-radius: 5px;
  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #566;
    text-transform: capitalize;
  }
  &__table {
    border-spacing: 20px;
    text-align: left;
    width: 100%;
    @media screen and (max-width: 500px) {
      border-spacing: 10px;
    }

    &__row {
      margin: 10px 0;
      padding: 10px;
      margin: 20px 0;
      font-size: 13px;
      font-weight: 300;
      text-align: left;
      cursor: pointer;
      &.hovers:hover {
        transform: scale(1.03);
      }

      &__header {
        text-transform: capitalize;
        color: #555;
        font-weight: 500;
        font-size: 16px;
        height: 100%;
      }
      &__amount {
        text-align: left;

        height: 100%;
      }
      &__btn {
        height: 100%;
      }

      &__user {
        display: flex;
        align-items: center;
        font-size: 16px;
        &-name {
          text-transform: capitalize;
          margin-left: 10px;
          color: #333;
          font-weight: 600;
        }
        &-img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
