.sidebar {
  flex: 1;
  position: sticky;
  top: 70px;
  overflow-y: scroll;
  background-color: #eee;
  @media screen and (max-width: 800px) {
    position: fixed;
    flex: 9;
    width:80%;
    height:calc(100vh - 70px) ;
  }

    &::-webkit-scrollbar {
      display: none;
    }
  
  height: calc(100vh - 50px);
  &__container {
    padding: 10px;

    &__menu {
      border-radius: 5px;
      background: rgba(247, 240, 240, 0.3);
      padding: 5px;
      margin-bottom: 10px;

      &__title {
        font-size: 13px;
        color: #777;
        padding: 10px 0;
      }
      &__list {
        list-style: none;
      }
    }
  }
}
#show-for-mobile{
  @media screen and (max-width: 800px) {
    position: absolute;
    left: 0px;
    z-index: 8888; 
}}

.hide-for-mobile {
  @media screen and (max-width: 800px) {
    position: absolute;
    left: -1000px;
  }
}
  .overlay{
    z-index: 12;
    overflow: hidden;
      @media screen and (max-width: 800px) {
        position: fixed;
        width:100%;
        height:calc(100vh - 70px) ;
        background-color: rgba(black, 0.9);
      } 
    
}