.sidebar {
  flex: 1;
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &.hide-for-mobile {
    @media screen and (max-width: 800px) {
      position: absolute;
      left: -1000px;
    }
  }
  &#show-for-mobile{
    @media screen and (max-width: 800px) {
      position: absolute;
      left: 0px;
      z-index: 8888;
      background: #eee;
    }

  }

  height: calc(100vh - 50px);
  &__container {
    padding: 10px;

    &__menu {
      border-radius: 5px;
      background: rgba(247, 240, 240, 0.3);
      padding: 5px;
      margin-bottom: 10px;

      &__title {
        font-size: 13px;
        color: #777;
        padding: 10px 0;
      }
      &__list {
        list-style: none;
      }
    }
  }
}

